<h1>Instructors#show</h1>
<h3><%= @instructor.first_name.capitalize %> <%= @instructor.last_name.capitalize %></h3>
<p>Age: <%= @instructor.age %></p>
<p>Education: <%= @instructor.education%></p>
<p>Salary: $<%= @instructor.salary%></p>
<p></p>
